name: LMHT News Bot Cron

on:
  schedule:
    # Chạy mỗi 10 phút (Định dạng Cron: Phút Giờ Ngày Tháng Thứ)
    - cron: '*/10 * * * *'
  workflow_dispatch: # Cho phép bạn bấm nút chạy thử thủ công

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Bot
        run: python bot_news.py

      - name: Commit and push if last-post.txt changed
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add last-post.txt
          # Chỉ commit nếu có sự thay đổi trong file
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update last post title" && git push)
